.h-20
.container
  %ul.breadcrumb
    %li
      %a{:href => "/"} Home
    %li.active Add Features
  .row.margin-bottom-40
    .col-md-12.col-sm-12
      %h6 Edit Restaurant Features
      .content-form-page
        = render 'form'
