.sidebar-nav{"data-no-turbolink"=>true}
  %ul
    %li
      %a.nav-header{"data-target" => ".dashboard-menu", "data-toggle" => "collapse", :href => "#"}
        %i.glyphicon.glyphicon-search
        Setting
        %i.fa.fa-collapse
    %li
      %ul.dashboard-menu.nav.nav-list.collapse.in
        %li
          %a{:href => "/owner/restaurants"}
            %span.fa.fa-caret-right
            Restaurant
        %li
          %a{:href => "/owner/restaurant_features/new"}
            %span.fa.fa-caret-right
            Add Restaurant Features
        %li
          %a{:href => "/owner/amenitis"}
            %span.fa.fa-caret-right
            Restaurant Amenities
        %li
          %a{:href => "/owner/tables"}
            %span.fa.fa-caret-right
            Tables
    %li
      %a.nav-header{"data-target" => ".menu", "data-toggle" => "collapse", :href => "#"}
        %i.glyphicon.glyphicon-user
        Menu
        %i.fa.fa-collapse
    %li
      %ul.menu.nav.nav-list.collapse
        %li
          %a{:href => "/owner/menus"}
            %span.fa.fa-caret-right
            Menu
        %li
          %a{:href => "/owner/cuisine_types"}
            %span.fa.fa-caret-right
            Cuisines Type
        %li
          %a{:href => "/owner/cuisines"}
            %span.fa.fa-caret-right
            Cuisines
        %li
          %a{:href => "/owner/items"}
            %span.fa.fa-caret-right
            Items
    %li
      %a.nav-header.collapsed{"data-target" => ".accounts-menu", "data-toggle" => "collapse", :href => "#"}
        %i.fa.fa-fw.fa-briefcase
        Account
        %span.label.label-info +3
    %li
      %ul.accounts-menu.nav.nav-list.collapse
        %li
          %a{:href => "sign-in.html"}
            %span.fa.fa-caret-right
            Sign In
        %li
          %a{:href => "sign-up.html"}
            %span.fa.fa-caret-right
            Sign Up
        %li
          %a{:href => "reset-password.html"}
            %span.fa.fa-caret-right
            Reset Password
    %li
      %a.nav-header.collapsed{"data-target" => ".legal-menu", "data-toggle" => "collapse", :href => "#"}
        %i.fa.fa-fw.fa-legal
        Legal
        %i.fa.fa-collapse
    %li
      %ul.legal-menu.nav.nav-list.collapse
        %li
          %a{:href => "privacy-policy.html"}
            %span.fa.fa-caret-right
            Privacy Policy
        %li
          %a{:href => "terms-and-conditions.html"}
            %span.fa.fa-caret-right
            Terms and Conditions
