.panel.panel-default
  .panel-heading
    Request to book table
  .panel-body
    .col-md-12
      %p
        After request for booking table the restaurant owner has confirmed your table and send you confirmation details vai email & sms.
    %form
      .col-md-4
        .form-group
          %label
            First Name
          %input.form-control{:type=>"text"}
      .col-md-4
        .form-group
          %label
            Last Name
          %input.form-control{:type=>"text"}
      .col-md-4
        .form-group
          %label
            Contact 1
          %input.form-control{:type=>"text"}
      .col-md-4
        .form-group
          %label
            Contact 2
          %input.form-control{:type=>"text"}
      .col-md-4
        .form-group
          %label
            Email
          %input.form-control{:type=>"text"}
      .col-md-4
        .form-group
          %label
            Total Guest
          %input.form-control{:type=>"text"}
      .col-md-4
        .form-group
          %label
            Date
          %input.form-control{:type=>"date"}
      .col-md-4
        .form-group
          %label
            Time
          %input.form-control{:type=>"time"}
      .col-md-12
        .form-group
          %label
            Message
          %textarea.form-control