.navbar.navbar-default{:role => "navigation"}
  .navbar-header
    %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{:href => "index.html",:style=>"color:white;"}
      %span.fa.fa-paper-plane
      BTM
  .navbar-collapse.collapse{:style => "height: 1px;"}
    %ul#main-menu.nav.navbar-nav.navbar-right
      %li.dropdown.hidden-xs
        %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
          %span.glyphicon.glyphicon-user.padding-right-small{:style => "position:relative;top: 3px;"}
          = user.first_name
          %i.fa.fa-caret-down
        %ul.dropdown-menu
          %li
            %a{:href => "./"} My Account
          - if user.role.name == "owner"
            %li.divider
              %li
                %a{:href=>"/owner/restaurants"} Owner Panel
            %li.divider
          %li
            %a{:href => "/users/sign_out","data-method"=>"delete", :tabindex => "-1"} Logout