.search-box
  %form{:action => "#"}
    .input-group
      %input.form-control{:placeholder => "Search", :type => "text"}
        %span.input-group-btn
          %button.btn.btn-primary{:type => "submit"} Search