/ BEGIN SIDEBAR
.sidebar.col-md-3.col-sm-3
  %ul.list-group.margin-bottom-25.sidebar-menu
    %li.list-group-item.clearfix
      %a{:href => "/users/sign_in","data-no-turbolink"=>true}
        %i.fa.fa-angle-right
        Login
    %li.list-group-item.clearfix
      %a{:href => "/users/sign_up","data-no-turbolink"=>true}
        %i.fa.fa-angle-right
        Register
    %li.list-group-item.clearfix
      %a{:href => "/users/password/new","data-no-turbolink"=>true}
        %i.fa.fa-angle-right
        Forget Pasword
/ END SIDEBAR