.form-info
  %h6{:style=>"margin-top:0px;"}
    %em SOCIAL Media
    Login
  %a.btn.btn-block.btn-social.btn-facebook
    %span.fa.fa-facebook
    Sign in with Facebook
  %a.btn.btn-block.btn-social.btn-google
    %span.fa.fa-google
    Sign in with Google