.main
  .row
    .container.content-form-page
      .h-20{:style=>"height:20px;clear:both;"}
      .col-md-3
        - @cusines_type.each do |ct|
          .list-group{:style=>"margin-bottom:0px;"}
            %a.list-group-item{:href=>"#",:style=>"font-weight:bold;"}
              =ct.to_s
      .col-md-9
        .col-md-12{:style=>"padding-right:6px;"}
          .pull-left
            %input{:type=>"text",:class=>"form-control",:placeholder=>"Search"}
          .pull-right
            %button.btn.btn-primary{:type=>"button"}
              List
            %button.btn.btn-default{:type=>"button"}
              Grid
        .h-10{:style=>"height:10px;clear:both;"}
        .col-md-12
          - @cuisines.each do |c|
            - if c.is_subcategory==false
              .panel.panel-default
                .panel-heading
                  =c.cuisine_type
                .panel-body
                  =c.name
            - else
              .panel.panel-default
                .panel-heading
                  = c.name
                %table.table.table-bordered
                  - c.items.each do |ci|
                    %tr
                      %td{:width=>200}
                        = ci.name
                      %td=ci.price.to_s+" Rs."