.content
  .header
    %h1.page-title Menu
    %ul.breadcrumb
      %li.active Menu
  .main-content
    .col-md-12{:style=>"height:550px;overflow:auto;"}
      .h-20{:style=>"height:20px;clear:both;"}
      .col-md-3
        - @cusines_type.each do |ct|
          .list-group{:style=>"margin-bottom:0px;"}
            %a.list-group-item{:href=>"##{ct.name}",:style=>"font-weight:bold;"}
              =ct.name
      .col-md-9
        .col-md-12{:style=>"padding-right:18px !important;"}
          .pull-left
            %input{:type=>"text",:class=>"form-control input-sm",:placeholder=>"Search"}
          .pull-right
            %button.btn.btn-primary.btn-sm{:type=>"button"}
              List
            %button.btn.btn-default.btn-sm{:type=>"button"}
              Grid
        .h-10{:style=>"height:10px;clear:both;"}
        .col-md-12
          - @cusines_type.each do |ct|
            .panel.panel-default{:id=>"#{ct.to_s}"}
              .panel-heading
                =ct.name
              .panel-body
                - if !@cuisines_sub_false.blank?
                  %table.table.table-bordered{:style=>"margin-bottom:0px;"}
                    - @cuisines_sub_false.each do |c|
                      - if (ct.name == c.cuisine_type.name) && (c.is_subcategory==false)
                        %tr
                          %td{:width=>250}
                            =c.name
                          %td
                            =c.price
                - if !@cuisines_sub_true.blank?
                  - @cuisines_sub_true.each do |c|
                    - if (ct.name == c.cuisine_type.name) && (c.is_subcategory==true)
                      .col-md-12{:style=>"padding-top:10px;padding-left:0px;padding-right:0px;"}
                        .panel.panel-default
                          .panel-heading
                            =c.name
                          %table.table.table-bordered
                            - c.items.each do |i|
                              %tr
                                %td{:width=>250}
                                  =i.name
                                %td=i.price