.h-20
.container
  %ul.breadcrumb
    %li
      %a{:href => "/"} Home
    %li.active Edit Ameniti
  .row.margin-bottom-40
    .col-md-12.col-sm-12
      %h6 Edit Ameniti
      .content-form-page
        = render 'form'
