.main
  .container
    %ul.breadcrumb
      %li
        %a{:href => "/"} Home
      %li.active Add Cuisine
    .row.margin-bottom-40
      .col-md-12.col-sm-12
        %h1 Add cuisine
        .content-form-page
          = render 'form'


