.back-banner
  .col-md-12
    .text-center
      %h2{:style=>"color:white;"}
        Network of over 1000 Restaurants
        %br
      %h3
        %p{:style=>"color:white;"} To Find Restaurant
    %br
    .col-md-12
      .col-md-3
      .col-md-6{:style=>"padding-left:20px;"}
        .col-md-5
          .form-group
            %label{:style=>"color:white;"} Location
            %input{:type=>"text",:class=>"form-control"}
        .col-md-5
          .form-group
            %label{:style=>"color:white;"} Restaurant
            %input{:type=>"text",:class=>"form-control"}
        .col-md-2{:style=>"padding-top:25px;"}
          %button{:type=>"button",:class=>"btn btn-default"} Search
      .col-md-2
