.container
  .h-20
  .card{:style=>"margin-bottom:1px;"}
    %ul.nav.nav-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "food_menu", "data-toggle" => "tab", :href => "#carts", :role => "tab"} Pre order carts
  .tab-content{:style=>"background:white;"}
    .row
      .col-md-3
        .panel.panel-default
          .panel-heading
            %b Customer Information for booking table
          .panel-body
            #customer_details
            #add_new_details_btn
              %button.btn-default.btn-xs{:type=>"button"} Select from list
              %button.btn-default.btn-xs{:type=>"button"} Add New
              %button.btn-default.btn-xs{:type=>"button","data-toggle"=>"modal" ,"data-target"=>"#myModal"} Edit
      .col-md-9
        #carts.tab-pane.active{:role => "tabpanel"}
= render :partial => "components/user_edit_modal"
:javascript
  $(document).ready(function(){
    orderSummary();
  });
  function orderSummary(){
    var cart = $.cookie("cart");
    console.log(cart);
    if(cart!="" && cart!=undefined){
      cart = jQuery.parseJSON(cart);
      var user = cart.user;
      var user_data = 'Name : '+user.firstName+' '+user.lastName;
      user_data += '<br>Contact No :'+user.contact1+" "+user.contact2;
      user_data += '<br>Email : '+user.email+'<br><br>';


      $("#customer_details").html(user_data);
      var table_data = '<h3 style="margin-top:0px;"><b>Restaurant : '+cart.restaurant_name+'</b></h3>';
      table_data += 'Booking Date : <b>'+user.booking_date+'</b><br>Booking Time : <b>'+user.booking_time+'</b><br>';
      table_data += 'No of Guest : <b>'+user.no_of_guest+'</b>';
      table_data += '<br><br><b>Pre Order Items List</b>';
      table_data += '<table class="table">';
      var items = cart.items;
      var subTotal = 0;
      table_data += '<thead>';
      table_data += '<th>ITEM</th>';
      table_data += '<th>QTY</th>';
      table_data += '<th>PRICE</th>';
      table_data += "<th>SUB TOTAL<th>";
      table_data += "<th><th>";
      table_data += "</thead>"
      for(var i=0;i<items.length;i++){
        table_data += '<tr>';
        table_data += '<td>';
        if(items[i].itemName!="" && items[i].itemName!=undefined){
          table_data += items[i].itemName;
        }else if(items[i].cuisineName!="" && items[i].cuisineName!=undefined){
          table_data += items[i].cuisineName;
        }
        if(items[i].food_diet=="is_veg"){
          table_data += '<br><br><p>Food Diet : <b>Veg</b>'
        }else if(items[i].food_diet=="is_nonveg"){
          table_data += '<br><br><p>Food Diet : <b>Non Veg</b>'
        }else if(items[i].food_diet=="is_swaminarayan"){
          table_data += '<br><br><p>Food Diet : <b>Swaminarayan</b>'
        }else if(items[i].food_diet=="is_jain"){
          table_data += '<br><br><p>Food Diet : <b>Jain</b>'
        }

        table_data += '<br>Food test : <b>'+items[i].food_test+'</b></p>';
        table_data += '</td>';
        table_data += '<td><input type="number" min="1" style="width:50px;" value="'+items[i].qty+'" onchange="updateQty('+items[i].ic_id+',this.value)";></td>';
        table_data += '<td>'+items[i].icprice+'</td>';
        var total = eval(items[i].qty) * eval(items[i].icprice);
        subTotal += total;
        table_data += '<td>'+total+'</td>';
        table_data += '<td><b><a href="javascript:void(0);" onclick="removeRItem('+i+');" class="text-info">X</a></b></td>';
        table_data += "</tr>"
      }
      table_data += '</table>';
      table_data += '<h3><p align="right">Amount Payable : '+subTotal+'</p></h3>';
      table_data += '<br><div class="pull-right"><button class="btn-default">Countinue to add items </button>';
      table_data += '&nbsp;&nbsp;<button class="btn-primary" onclick="">Checkout</button></div>';
      console.log(items);
      $("#carts").html(table_data);
    }
  }
  function updateQty(id,val){
    var id = id
    var val = val;
    var cart = $.cookie("cart");
    cart = jQuery.parseJSON(cart);
    var items = cart.items;
    for(var i=0;i<items.length;i++){
      if(id==items[i].ic_id){
        items[i].qty = val;
        break;
      }
    }
    cart.items = items;
    $.cookie("cart",JSON.stringify(cart),{path:"/"});
    orderSummary();
  }
  function removeRItem(itemIndex){
    var cart = $.cookie("cart");
    cart = jQuery.parseJSON(cart);
    var items = cart.items;
    items.splice(itemIndex,1);
    cart.items = items;
    $.cookie("cart",JSON.stringify(cart),{path:"/"});
    orderSummary();
  }