.content
  .header
    %h1.page-title Restaurant
    %ul.breadcrumb
      %li
        %a{:href => "index.html"} Home
      %li.active Restaurant
  .main-content
    = render 'form'
  %footer
    %hr
      / Purchase a site license to remove this link from the footer: http://www.portnine.com/bootstrap-themes
      %p.pull-right
        A
        %a{:href => "http://www.portnine.com/bootstrap-themes", :target => "_blank"} Free Bootstrap Theme
        by
        %a{:href => "http://www.portnine.com", :target => "_blank"} Portnine
      %p
        © 2014
        %a{:href => "http://www.portnine.com", :target => "_blank"} Portnine